<div class="grid-container">
  <h1 class="mat-h1">Login</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="box">
            <h2>Iniciar sesión</h2>
            <form class="example-form" [formGroup]="form">
              <mat-form-field class="example-full-width">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput formControlName="userFormControl" placeholder="min. 4 carácteres">
                <mat-error *ngIf="form.get('userFormControl')?.hasError('minlength') && !form.get('userFormControl')?.hasError('required')">
                  Minimo 3 caracteres.
                </mat-error>
                <mat-error *ngIf="form.get('userFormControl')?.hasError('required')">
                  Usuario es <strong>requerido</strong>.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="passFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="form.get('passFormControl')?.hasError('email') && !form.get('passFormControl')?.hasError('required')">
                  Correo inválido
                </mat-error>
                <mat-error *ngIf="form.get('passFormControl')?.hasError('required')">
                  Correo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-raised-button color="primary" (click)="validar()">Enviar</button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
